@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik/Graphik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik/Graphik-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik/Graphik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  *::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

html, body, a {
  font-family: Graphik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111827; }

html {
  height: 100%; }

body {
  min-height: 100%;
  overflow-x: hidden; }

.container {
  max-width: 1254px;
  width: 100%;
  margin: 0 auto; }

.link-green, .link-blue {
  font-weight: 500; }

.link-green {
  color: #6BA91A; }

.link-blue {
  color: #2563EB; }

.btn-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
  background: #64A315;
  border-radius: 8px;
  font-weight: 500;
  color: #fff; }

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 20px; } }

@media screen and (max-width: 767px) {
  .container {
    padding: 0 8px; } }

.btn-reset {
  border: 0;
  background-color: transparent; }

.swiper {
  position: relative;
  overflow: hidden; }

main {
  background: #F3F4F6; }

h2, .h2 {
  font-family: Graphik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #111827; }

.header {
  position: relative;
  padding: 21px 0;
  background: #111827; }
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__form {
    display: none; }
  .header__logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 144px;
    height: 30px; }
    .header__logo img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .header__form-wrap {
    margin: 0 29px 0 auto; }
  .header__open-search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .header__open-search svg {
      width: 16px;
      height: 16px; }
  .header__lang p {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF; }
  .header__burg-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 0 0 30px; }
    .header__burg-menu svg {
      width: 14px;
      height: 16px; }
  .header__menu-wrap {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: 16px 8px 129px 8px;
    background: #111827;
    z-index: 10; }
  .header__menu-nav {
    margin: 0 0 0 4px; }
  .header__authorization-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 10px 0;
    background: #1F2937;
    border-radius: 8px; }
    .header__authorization-btn svg {
      width: 16px;
      height: 20px;
      margin: 0 8px 0 0; }
    .header__authorization-btn span {
      font-size: 14px;
      color: #fff; }
  .header__list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px 0;
    font-weight: 600;
    line-height: 16px;
    color: #fff; }
  .header__list-item + .header__list-item {
    border-top: 1px solid #fff; }

.partners {
  padding: 24px 0; }
  .partners__title-section {
    margin: 0 0 16px 0; }
  .partners__slider-wrap .swiper-slide {
    width: 128px; }
  .partners__img-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 128px;
    height: 80px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px; }
  .partners__title-partner {
    margin: 8px 0 0 0;
    text-align: center;
    font-weight: 500; }
  .partners__slider-wrap {
    margin: 0 -8px;
    padding: 0 8px; }

.banner {
  padding: 0 0 32px 0; }
  .banner__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#CBD623), to(#41701E));
    background: -o-linear-gradient(top, #CBD623 0%, #41701E 100%);
    background: linear-gradient(180deg, #CBD623 0%, #41701E 100%);
    border-radius: 8px; }
  .banner__content-wrap {
    margin: 0 10px 0 0; }
  .banner__title-banner {
    margin: 0 0 4px 0; }
    .banner__title-banner p {
      font-weight: 600;
      line-height: 20px;
      color: #fff; }
  .banner__img-banner {
    margin: 0 0 0 auto; }
  .banner__text-content-banner p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5); }

.product-cards {
  padding: 0 0 32px 0; }
  .product-cards__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 0 16px 0; }
  .product-cards__products-all-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; }
  .product-cards__title-section {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 10px 0 0; }
  .product-cards__img-product {
    -webkit-box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
    box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08); }
  .product-cards__img-product {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 61.12%;
    background: #111827; }
    .product-cards__img-product img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .product-cards__content-product {
    position: relative;
    padding: 16px 8px 8px; }
  .product-cards__preview-product-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden; }
  .product-cards__rating {
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 2px 4px;
    background: #F59E0B;
    border-radius: 2px; }
    .product-cards__rating svg {
      width: 13px;
      height: 12px;
      margin: 0 2px 0 0; }
    .product-cards__rating span {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #fff; }
  .product-cards__title-product {
    margin: 0 0 29px 0;
    text-align: center;
    font-weight: 600; }
  .product-cards__detail-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    background: #E2FEDB;
    border-radius: 8px; }

.publications {
  padding: 0 0 32px 0; }
  .publications__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 0 16px 0; }
  .publications__title-section {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 10px 0 0; }
  .publications__slider-wrap {
    margin: 0 -8px;
    padding: 0 8px; }
    .publications__slider-wrap .swiper-slide {
      width: 240px; }
  .publications__slide-public {
    padding: 8px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
    box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
    border-radius: 8px; }
  .publications__img-public {
    width: 100%;
    height: 124px;
    margin: 0 0 8px 0;
    border-radius: 4px; }
    .publications__img-public img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 4px; }
  .publications__title-public {
    margin: 0 0 4px 0;
    color: #64A315; }
  .publications__text-content-public {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px; }

.news {
  padding: 0 0 24px 0; }
  .news__img-news {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 68.43% 0;
    margin: 0 0 8px 0;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1)); }
    .news__img-news img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 8px; }
  .news__content-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .news__title-news {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 0 4px 0;
    font-weight: 600; }
  .news__qauntity-views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .news__qauntity-views svg {
      width: 16px;
      height: 20px; }
  .news__date-news {
    margin: 0 8px 0 0;
    font-size: 14px;
    color: #6B7280; }
  .news__qauntity-views {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .news__qauntity-views span {
      margin: 0 0 0 2px;
      font-size: 14px;
      color: #6B7280; }
  .news__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 0 16px 0; }
  .news__title-section {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 10px 0 0; }

.footer {
  padding: 16px 8px 24px 8px;
  background: #111827; }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48px;
    flex: 0 0 48px;
    height: 48px;
    margin: 0 16px 0 0;
    border: 2px solid #6B7280;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #6B7280; }
  .footer__info-company {
    color: #6B7280; }
